<!-- contact section -->

<section class="contact_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Contact Us
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <form id="idf">
          <div>
            <input type="text" id="nombre" placeholder="Name" required/>
          </div>
          <div>
            <input type="text" id="numeroTelefono" placeholder="Phone Number" required/>
          </div>
          <div>
            <input type="email" id="email" placeholder="Email" required/>
          </div>
          <div>
            <input type="text" id="mensaje" class="message-box" placeholder="Message" required/>
          </div>
          <div class="d-flex">
            <button id="boton-form">
              SEND
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="map_container">
          <div class="map">
            <div id="googleMap" style="width:100%;height:100%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end contact section -->

<script>
const form = document.getElementById("idf")
const boton = document.getElementById("boton-form")
const nombre = document.getElementById("nombre")
const numeroTelefono = document.getElementById("numeroTelefono")
const email = document.getElementById("email")
const mensaje = document.getElementById("mensaje")



boton.addEventListener("click",async function(e){
  e.preventDefault()

  const data = {
    nombre:nombre.value,
    numeroTelefono:numeroTelefono.value,
    email:email.value,
    mensaje:mensaje.value
  }

  try {
    const response = await fetch('/api/contacto', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    });

    if (response.ok) {
      const result = await response.json();
      alert('Contacto enviado correctamente');
      form.reset();
    } else {
        const error = await response.json();
        alert('Error al enviar el contacto: ' + error.message);
    }
  } catch (error) {
      alert('Error al enviar el contacto: ' + error.message);
  }
});
</script>